apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dojo-staging

resources:
- namespace.yaml
- volumes.yaml
- ingress.yaml
- github.com/blogle/dojo//deploy/k8s/overlays/staging?ref=master

patches:
- target:
    group: ""
    version: v1
    kind: PersistentVolumeClaim
    name: dojo-data
    namespace: dojo-staging
  patch: |-
    - op: replace
      path: /spec/volumeName
      value: dojo-staging-pv
    - op: replace
      path: /spec/storageClassName
      value: ""
- target:
    group: apps
    version: v1
    kind: Deployment
    name: dojo
    namespace: dojo-staging
  patch: |-
    - op: add
      path: /spec/template/spec/initContainers
      value:
        - name: fix-permissions
          image: ghcr.io/blogle/dojo:edge
          command: ["/bin/sh", "-c", "chown -R 1000:1000 /data"]
          securityContext:
            runAsUser: 0
          volumeMounts:
          - name: data
            mountPath: /data