apiVersion: v1
kind: ServiceAccount
metadata:
  name: keel
  namespace: infrastructure
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: keel
rules:
  - apiGroups: [""]
    resources:
      - pods
      - replicationcontrollers
      - services
      - configmaps
      - secrets
    verbs: ["list", "delete", "watch", "update", "get"]
  - apiGroups: ["extensions", "apps"]
    resources:
      - deployments
      - replicasets
      - daemonsets
      - statefulsets
    verbs: ["list", "delete", "watch", "update", "get"]
  - apiGroups: ["batch"]
    resources:
      - cronjobs
    verbs: ["list", "delete", "watch", "update", "get"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: keel
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: keel
subjects:
  - kind: ServiceAccount
    name: keel
    namespace: infrastructure
---
apiVersion: v1
kind: Service
metadata:
  name: keel
  namespace: infrastructure
  labels:
    app: keel
spec:
  ports:
    - port: 9300
      targetPort: 9300
      protocol: TCP
      name: keel
  selector:
    app: keel
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: keel
  namespace: infrastructure
  labels:
    app: keel
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keel
  template:
    metadata:
      labels:
        app: keel
    spec:
      serviceAccountName: keel
      containers:
        - name: keel
          image: keelhq/keel:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 9300
          livenessProbe:
            httpGet:
              path: /healthz
              port: 9300
            initialDelaySeconds: 30
            timeoutSeconds: 10
          resources:
            limits:
              cpu: 100m
              memory: 128Mi
            requests:
              cpu: 50m
              memory: 64Mi
